@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
	padding: calc(v.$separacion/4);

	color: v.$blanco;
	display: block;
	margin: 0 15rem 2rem 15rem;
	text-align: center;
	font-weight: v.$bold;
	text-transform: uppercase;
	border-radius: 1rem;

	&.error {
		background: rgb(201, 67, 52);

	}

	&.exito {
		background: rgb(67, 188, 79);
	}
}