@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton {
	@include m.boton(v.$azul, v.$blanco);
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	display: block;
	margin: 0rem 0rem 1rem 0rem;
	font-weight: v.$regular;
	transition: background-color 300ms ease;
}

.boton-eliminar {
	background-color: darken(v.$rojo, 30%);
	color: darken(v.$rojo, 10%);


	&:hover {
		cursor: pointer;
		background-color: v.$rojo;
		color: v.$blanco;
	}
}

.boton-actualizar {

	background-color: darken(v.$naranja, 25%);
	color: v.$negro;
	padding-top: 0.7rem;



	&:hover {
		cursor: pointer;
		background-color: v.$naranja;
		color: v.$negro;
	}
}