@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {

	@include m.tablet {
		display: flex;
		gap: 0.3rem;
	}

	button {
		background-color: v.$azul;
		color: v.$blanco;
		border: none;
		width: 100%;
		padding: 1rem;
		margin: 0 0 1rem 0;
		text-transform: uppercase;
		font-weight: v.$bold;
		transition: background-color 300ms ease;

		&:hover {
			cursor: pointer;
			background-color: darken(v.$azul, 20%);
		}

	}
	.btreservar{
		background-color: v.$verde;
		color: v.$blanco;
		font-weight: v.$bold;
		transition: background-color 300ms ease;

		&:hover {
			cursor: pointer;
			background-color: darken(v.$verde, 20%);
		}
	}
}

.ocultar {
	visibility: hidden;
}