@use 'base/variables' as v;
@use 'base/mixins' as m;


.contenedor_citas {

	@include m.tablet {
		display: grid;
		grid-template-rows: repeat(auto-fit, auto-fit);
		grid-template-columns: repeat(2, 1fr);
		gap: 8px;
	}

}

.cita {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	padding-bottom: 1rem;

	&:hover {
		cursor: pointer;
		background-color: darken(v.$gris, 45%);
	}
}

.servicios{
	li{
		list-style: none;
	border-bottom: 1px solid v.$azul; 
	line-height: 1rem;
}

p {
	font-weight: v.$bold;
	color: v.$azul;
}
span {
	font-weight: v.$regular;
	color: v.$blanco;
}
	
}
 

.datos_cita {
	border-top: 3px solid v.$azul;
	width: 100%;
	padding: 1rem;

	.hora {
		font-size: 4rem;
	}

	p {
		font-weight: v.$bold;
		color: v.$azul;
	}

	span {
		font-weight: v.$regular;
		color: v.$blanco;
	}

	div {

		font-weight: v.$bold;
		color: v.$azul;

		span,
		a {
			font-weight: v.$regular;
			color: v.$blanco;
		}

	}

	h3 {
		padding-top: 2rem;
		font-size: 2rem;
		text-align: left;
		border-bottom: 1px solid v.$blanco;
	}

}

.servicio {
	padding-left: 1rem;
}

.totalprecio {
	padding: 0 1rem 0 1rem;
	margin-top: 1rem;
	background-color: darken(v.$azul, 20%);
	text-align: right;

	span {
		font-weight: v.$bold;
	}
}