@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion {

	display: none;
	padding: 5rem 0;

	.text-center {
		text-align: center;
		color: darken(v.$blanco, 70%);
	}

	.mostrar {
		display: blcok;
	}

	.ocultar {
		display: none;
	}

}