@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion{
	padding: 5rem 0;
	.text-center{
		text-align: center;
		color: darken(v.$blanco, 70%);
	}

	&:nth-child(3), &:nth-child(4){
		display: none;
	}
}