@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-resumen {
	p{
		line-height: 0.4;
	}

	span{
		color: v.$azul;
		font-weight: v.$bold;
		font-size: 2rem;
	}
	
}
.datos-resumen{
	padding-top: 2rem;
	border-top: 2px solid v.$gris;
	border-bottom: 2px solid v.$gris;
}

.contenedor-servicio{


	p{
		font-weight: v.$bold;
	}
	border-bottom: 2px solid v.$azul;
	//padding: 2rem 0 ;

	&:last-of-type{
		margin-bottom: 2rem;
	}
}